body {
  font-family: 'Gilroy', sans-serif;
  font-size: 16px;
  color: #3C3B3B; }

h1 {
  font-weight: 600;
  font-size: 80px; }

h2 {
  font-weight: 600;
  font-size: 50px;
  color: #303030; }

h3 {
  font-weight: 600;
  font-size: 30px;
  color: #303030; }

h4 {
  font-weight: 600;
  font-size: 22px; }

h5 {
  font-size: 18px;
  color: #4D4D4F; }

h6 {
  font-size: 16px;
  color: #303030; }

.nav-burger {
  display: none; }

.btn {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 0;
  position: relative;
  background-image: linear-gradient(95.52deg, #FFBF16 -0.93%, #EC860D 98.69%);
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  width: 185px;
  height: 53px;
  border: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50px; }
  .btn::before {
    content: '';
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    background: #ff8800;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out; }
  .btn:hover {
    border: none;
    color: #fff; }
    .btn:hover::before {
      opacity: 1; }
  .btn-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .btn-wrapper .btn:not(:last-child) {
      margin-right: 25px; }
  .btn-line {
    background: transparent;
    border: 2px solid #FFFFFF;
    font-weight: 400;
    -webkit-transition: background 1s;
    transition: background 1s; }
    .btn-line::before {
      display: none; }
    .btn-line:hover {
      background-color: white;
      border: 2px solid transparent;
      color: #170C3F; }
  .btn-center {
    margin: 0 auto; }

.pd-negative {
  position: relative;
  top: -73px; }

.light-bg {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.02%, #F7F8FA), color-stop(45.31%, #F6F8FA), to(#F6F8FA));
  background: linear-gradient(180deg, #F7F8FA 0.02%, #F6F8FA 45.31%, #F6F8FA 100%);
  padding-bottom: 120px; }

.dark-bg {
  background: #170C3F;
  color: #fff; }

.sidenav {
  height: 100%;
  width: 328px;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #200D59;
  overflow-x: hidden;
  padding-top: 40px;
  padding-left: 60px;
  padding-bottom: 40px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 20px 40px 80px rgba(70, 38, 27, 0.05);
          box-shadow: 20px 40px 80px rgba(70, 38, 27, 0.05); }
  .sidenav ul {
    padding: 0;
    list-style: none;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 600;
    color: #8C7DBA;
    text-decoration: none; }
    .sidenav ul li:not(:last-child) {
      margin-bottom: 52px; }
    .sidenav ul a {
      color: #8C7DBA;
      text-decoration: none;
      -webkit-transition: color 1s ease;
      transition: color 1s ease; }
      .sidenav ul a:hover {
        color: #FFFFFF;
        -webkit-transition: color 1s ease;
        transition: color 1s ease; }
        .sidenav ul a:hover::before {
          background: #BD922E;
          -webkit-transition: background 1s ease;
          transition: background 1s ease; }
      .sidenav ul a::before {
        content: '';
        display: inline-block;
        height: 2px;
        width: 26px;
        background-color: #574B7E;
        margin-right: 10px;
        margin-left: 10px;
        vertical-align: middle;
        -webkit-transition: 1s ease;
        transition: 1s ease; }

.main-header {
  height: 100vh;
  width: calc(100% - 328px);
  background-image: linear-gradient(136.03deg, rgba(16, 10, 49, 0.74) 22.44%, rgba(17, 5, 57, 0.72) 51.44%, rgba(17, 4, 57, 0.62) 84.35%), url("../img/header-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  margin-left: 328px;
  text-align: center; }
  .main-header .main-header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .main-header .desc {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    margin: 20px; }

.main,
footer {
  margin-left: 328px; }

section {
  padding-top: 120px;
  margin-bottom: 30px; }
  section.one-column {
    text-align: center; }
    section.one-column .column__content {
      max-width: 900px;
      margin: 0 auto;
      padding-right: 0; }
  section .dark-bg {
    border-radius: 50px;
    padding-left: 55px;
    padding-right: 55px;
    color: #fff; }
    section .dark-bg h2 {
      color: inherit; }
  section.reviews {
    margin-top: 140px;
    text-align: center;
    padding-top: 90px;
    background: url("../img/reviews-bg.png") no-repeat center, -webkit-gradient(linear, left top, left bottom, color-stop(0.02%, #F7F8FA), color-stop(45.31%, #F6F8FA), to(#F6F8FA));
    background: url("../img/reviews-bg.png") no-repeat center, linear-gradient(180deg, #F7F8FA 0.02%, #F6F8FA 45.31%, #F6F8FA 100%); }
  section .img-bg {
    background-image: url("../img/why-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
  section small {
    color: #ED8B0E;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 0.13em;
    margin-bottom: 25px;
    margin-top: 20px;
    display: block; }
  section p {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%; }
  section .column__content {
    padding-right: 2em; }
  section.mission-bg {
    background-image: url(../img/graph.png);
    background-repeat: no-repeat;
    background-position: right top 80px;
    background-size: 50%; }

ul.triggers {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 35px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  ul.triggers li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%; }
    ul.triggers li h4 {
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      margin-top: 20px; }
    ul.triggers li p {
      font-weight: 300;
      font-size: 18px;
      margin-top: 10px;
      max-width: 275px; }

.triggers + .btn {
  width: 245px; }

.teammate {
  margin-bottom: 0;
  padding-top: 70px; }
  .teammate p {
    font-size: 18px;
    color: #666666;
    padding: 0;
    margin-bottom: 30px; }
  .teammate small {
    font-weight: 600;
    font-size: 20px;
    color: #595176;
    text-transform: none;
    letter-spacing: normal;
    margin-top: 13px;
    margin-bottom: 15px; }
  .teammate .teammate__content-wrapper {
    padding-right: 35px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .teammate .title-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .teammate .title-wrapper .teammate__social {
      list-style: none;
      padding: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .teammate .title-wrapper .teammate__social li:not(:last-child) {
        margin-right: 14px; }
      .teammate .title-wrapper .teammate__social a {
        width: 25px;
        height: 25px;
        display: block;
        background-repeat: no-repeat;
        background-position: center bottom;
        opacity: 0.8;
        -webkit-transition: opacity 0.5s ease;
        transition: opacity 0.5s ease; }
        .teammate .title-wrapper .teammate__social a:hover {
          opacity: 1; }
      .teammate .title-wrapper .teammate__social a[aria-label=Facebook] {
        background-image: url("../img/fb.svg"); }
      .teammate .title-wrapper .teammate__social a[aria-label=Twitter] {
        background-image: url("../img/tw.svg"); }
      .teammate .title-wrapper .teammate__social a[aria-label=Linkedin] {
        background-image: url("../img/link.svg"); }
      .teammate .title-wrapper .teammate__social a[aria-label=Instagram] {
        background-image: url("../img/inst.svg"); }

.triggers-big .dark-bg {
  padding-top: 90px;
  padding-bottom: 40px; }
.triggers-big h2 {
  text-align: center;
  margin-bottom: 45px; }
.triggers-big li {
  margin-bottom: 20px; }

.reviews {
  padding-bottom: 72px; }
  .reviews .slider {
    padding-top: 20px;
    padding-left: 1em;
    padding-right: 1em; }
    .reviews .slider .carousel {
      padding-left: 50px;
      padding-right: 50px; }
      .reviews .slider .carousel .carousel-inner {
        padding-top: 20px; }
      .reviews .slider .carousel .carousel-control-next, .reviews .slider .carousel .carousel-control-prev {
        width: 32px; }
      .reviews .slider .carousel .carousel-control-prev-icon {
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='37' viewBox='0 0 20 37' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.561 17.4847L2.44739 0.418409C1.88669 -0.140419 0.97889 -0.13948 0.419123 0.421299C-0.140211 0.982006 -0.138766 1.89031 0.422013 2.44957L16.5169 18.5001L0.421435 34.5505C-0.139272 35.1098 -0.140717 36.0175 0.418544 36.5783C0.699151 36.8594 1.06676 37 1.43438 37C1.80105 37 2.16722 36.8604 2.44732 36.5812L19.561 19.5154C19.831 19.2467 19.9826 18.881 19.9826 18.5001C19.9826 18.1191 19.8306 17.7539 19.561 17.4847Z' fill='%231F0D58' fill-opacity='0.87'/%3E%3C/svg%3E%0A");
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg); }
      .reviews .slider .carousel .carousel-control-next-icon {
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='37' viewBox='0 0 20 37' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.561 17.4847L2.44739 0.418409C1.88669 -0.140419 0.97889 -0.13948 0.419123 0.421299C-0.140211 0.982006 -0.138766 1.89031 0.422013 2.44957L16.5169 18.5001L0.421435 34.5505C-0.139272 35.1098 -0.140717 36.0175 0.418544 36.5783C0.699151 36.8594 1.06676 37 1.43438 37C1.80105 37 2.16722 36.8604 2.44732 36.5812L19.561 19.5154C19.831 19.2467 19.9826 18.881 19.9826 18.5001C19.9826 18.1191 19.8306 17.7539 19.561 17.4847Z' fill='%231F0D58' fill-opacity='0.87'/%3E%3C/svg%3E%0A"); }
    .reviews .slider .slide-item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .reviews .slider .slide-card {
      color: #707070;
      background-color: #fff;
      border-radius: 5px;
      text-align: left;
      padding-left: 25px;
      padding-bottom: 30px;
      padding-right: 60px;
      -ms-flex-preferred-size: 48%;
          flex-basis: 48%;
      margin-bottom: 28px; }
      .reviews .slider .slide-card:nth-child(2n) {
        margin-left: 28px; }
      .reviews .slider .slide-card p, .reviews .slider .slide-card span {
        font-size: 16px; }
    .reviews .slider .slide__title-line {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      position: relative;
      top: -13px; }
      .reviews .slider .slide__title-line h5 {
        margin: 0; }
      .reviews .slider .slide__title-line img {
        border-radius: 50%;
        -o-object-fit: contain;
        object-fit: contain;
        margin-right: 10px; }

.packages-img .section-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 443px;
  margin-left: 90px; }
.packages-img img {
  width: 100%;
  height: auto; }

.tariffs {
  padding-top: 30px;
  margin-bottom: 100px; }
  .tariffs .tariffs__card {
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .tariffs .tariffs__card > li {
      background: #FFFFFF;
      -webkit-box-shadow: 0px 4px 30px rgba(156, 156, 156, 0.25);
              box-shadow: 0px 4px 30px rgba(156, 156, 156, 0.25);
      border-radius: 10px;
      overflow: hidden;
      -webkit-box-flex: 0;
          -ms-flex-positive: 0;
              flex-grow: 0;
      max-width: 335px;
      height: auto;
      width: 33%; }
      .tariffs .tariffs__card > li .tariffs__card-wrapper {
        padding: 20px 3em 55px 3em; }
      .tariffs .tariffs__card > li:not(:last-child) {
        margin-right: 1.5em; }
      .tariffs .tariffs__card > li h5 {
        text-transform: uppercase;
        color: white;
        background: #4527A0;
        width: 100%;
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        height: 62px; }
      .tariffs .tariffs__card > li h6 {
        text-align: center;
        margin-bottom: 30px;
        line-height: 20px; }
        .tariffs .tariffs__card > li h6 b {
          color: #4527A0;
          font-weight: bold; }
      .tariffs .tariffs__card > li ul {
        padding: 0;
        list-style: none;
        margin-top: 20px;
        color: #6E6E6E;
        font-size: 16px;
        line-height: 19px; }
        .tariffs .tariffs__card > li ul li {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
          .tariffs .tariffs__card > li ul li::before {
            content: '';
            display: block;
            width: 18px;
            height: 10px;
            background-repeat: no-repeat;
            margin-top: 4px;
            margin-right: 6px;
            -ms-flex-negative: 0;
                flex-shrink: 0; }
          .tariffs .tariffs__card > li ul li:not(:last-child) {
            margin-bottom: 20px; }
      .tariffs .tariffs__card > li ul.check li::before {
        background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.3271 0.454932C10.537 0.24684 10.8204 0.129726 11.116 0.128911C11.4115 0.128095 11.6956 0.243643 11.9066 0.450574C12.1177 0.657505 12.2389 0.939192 12.2439 1.23473C12.2489 1.53028 12.1375 1.81593 11.9336 2.02993L5.94556 9.51493C5.84265 9.62578 5.71844 9.71474 5.58036 9.77648C5.44228 9.83823 5.29317 9.8715 5.14194 9.8743C4.99071 9.8771 4.84047 9.84937 4.7002 9.79278C4.55993 9.73619 4.43251 9.65189 4.32556 9.54493L0.358063 5.57593C0.247532 5.47294 0.158879 5.34874 0.0973912 5.21074C0.0359033 5.07274 0.00284026 4.92377 0.00017508 4.77272C-0.0024901 4.62166 0.0252972 4.47162 0.0818787 4.33154C0.13846 4.19145 0.222677 4.0642 0.329505 3.95738C0.436333 3.85055 0.563584 3.76633 0.703666 3.70975C0.843749 3.65317 0.993792 3.62538 1.14485 3.62804C1.2959 3.63071 1.44487 3.66377 1.58287 3.72526C1.72087 3.78675 1.84507 3.8754 1.94806 3.98593L5.08906 7.12543L10.2986 0.487932C10.3079 0.476313 10.3179 0.465291 10.3286 0.454932H10.3271Z' fill='%234527A0'/%3E%3C/svg%3E%0A");
        background-size: 13px 10px; }
      .tariffs .tariffs__card > li ul.check-double li::before {
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='10' viewBox='0 0 18 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.89677 0.335965C10.0979 0.136543 10.3695 0.0243093 10.6528 0.0235278C10.9361 0.0227463 11.2083 0.13348 11.4105 0.331789C11.6128 0.530097 11.7289 0.800048 11.7337 1.08328C11.7386 1.3665 11.6317 1.64025 11.4363 1.84534L5.69783 9.01847C5.59921 9.12469 5.48017 9.20994 5.34785 9.26912C5.21552 9.32829 5.07262 9.36017 4.92769 9.36286C4.78276 9.36554 4.63878 9.33897 4.50436 9.28474C4.36993 9.2305 4.24782 9.14972 4.14533 9.04722L0.343143 5.24359C0.237218 5.14489 0.152259 5.02586 0.0933329 4.89361C0.034407 4.76137 0.00272191 4.6186 0.000167787 4.47384C-0.00238634 4.32908 0.0242428 4.18529 0.0784668 4.05104C0.132691 3.9168 0.213399 3.79485 0.315776 3.69247C0.418153 3.5901 0.540101 3.50939 0.674347 3.45516C0.808592 3.40094 0.952384 3.37431 1.09714 3.37686C1.2419 3.37942 1.38467 3.4111 1.51692 3.47003C1.64917 3.52896 1.76819 3.61392 1.86689 3.71984L4.87702 6.72853L9.86802 0.36759C9.87697 0.356492 9.88657 0.345932 9.89677 0.335965ZM8.57427 7.72472L9.89677 9.04722C9.99924 9.1495 10.1213 9.23009 10.2555 9.28419C10.3898 9.33829 10.5336 9.36479 10.6784 9.36211C10.8232 9.35943 10.9659 9.32762 11.0981 9.26858C11.2303 9.20954 11.3492 9.12447 11.4478 9.01847L17.1863 1.84534C17.2894 1.74357 17.3709 1.62206 17.426 1.48809C17.4811 1.35411 17.5086 1.2104 17.5069 1.06555C17.5052 0.920705 17.4744 0.777682 17.4162 0.645025C17.358 0.512368 17.2737 0.392799 17.1682 0.293457C17.0628 0.194116 16.9384 0.117039 16.8026 0.0668306C16.6667 0.0166222 16.5221 -0.00568873 16.3774 0.0012307C16.2327 0.00815012 16.0909 0.0441583 15.9604 0.107104C15.8299 0.170049 15.7135 0.258642 15.618 0.36759L10.6256 6.72853L9.92839 6.0299L8.57283 7.72472H8.57427Z' fill='%234527A0'/%3E%3C/svg%3E%0A");
        background-size: 18px 10px;
        margin-right: 10px; }
      .tariffs .tariffs__card > li .tariffs__link {
        color: #4D4D4D;
        text-decoration: underline;
        font-weight: 500;
        font-size: 16px;
        display: block;
        text-align: center;
        margin-top: 25px;
        margin-bottom: 25px; }
      .tariffs .tariffs__card > li hr {
        background-color: #F1F1F1;
        opacity: 1;
        margin-bottom: 30px; }
    .tariffs .tariffs__card > .tariffs__card_golden {
      margin-left: 1.5em; }
      .tariffs .tariffs__card > .tariffs__card_golden h5 {
        background: linear-gradient(95.52deg, #FFBF16 -0.93%, #EC860D 98.69%); }
        .tariffs .tariffs__card > .tariffs__card_golden h5 small {
          font-style: normal;
          color: #FFFFFF;
          font-weight: 400;
          font-size: 14px;
          text-transform: none;
          padding: 0;
          margin: 0;
          margin-top: 3px;
          letter-spacing: normal; }
      .tariffs .tariffs__card > .tariffs__card_golden h6 b {
        color: #FF8E03;
        font-weight: bold; }
      .tariffs .tariffs__card > .tariffs__card_golden ul.check li::before {
        background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.3271 0.454932C10.537 0.24684 10.8204 0.129726 11.116 0.128911C11.4115 0.128095 11.6956 0.243643 11.9066 0.450574C12.1177 0.657505 12.2389 0.939192 12.2439 1.23473C12.2489 1.53028 12.1375 1.81593 11.9336 2.02993L5.94556 9.51493C5.84265 9.62578 5.71844 9.71474 5.58036 9.77648C5.44228 9.83823 5.29317 9.8715 5.14194 9.8743C4.99071 9.8771 4.84047 9.84937 4.7002 9.79278C4.55993 9.73619 4.43251 9.65189 4.32556 9.54493L0.358063 5.57593C0.247532 5.47294 0.158879 5.34874 0.0973912 5.21074C0.0359033 5.07274 0.00284026 4.92377 0.00017508 4.77272C-0.0024901 4.62166 0.0252972 4.47162 0.0818787 4.33154C0.13846 4.19145 0.222677 4.0642 0.329505 3.95738C0.436333 3.85055 0.563584 3.76633 0.703666 3.70975C0.843749 3.65317 0.993792 3.62538 1.14485 3.62804C1.2959 3.63071 1.44487 3.66377 1.58287 3.72526C1.72087 3.78675 1.84507 3.8754 1.94806 3.98593L5.08906 7.12543L10.2986 0.487932C10.3079 0.476313 10.3179 0.465291 10.3286 0.454932H10.3271Z' fill='%23ED890E'/%3E%3C/svg%3E%0A");
        background-size: 13px 10px; }
      .tariffs .tariffs__card > .tariffs__card_golden ul.check-double li::before {
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='10' viewBox='0 0 18 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.89677 0.335965C10.0979 0.136543 10.3695 0.0243093 10.6528 0.0235278C10.9361 0.0227463 11.2083 0.13348 11.4105 0.331789C11.6128 0.530097 11.7289 0.800048 11.7337 1.08328C11.7386 1.3665 11.6317 1.64025 11.4363 1.84534L5.69783 9.01847C5.59921 9.12469 5.48017 9.20994 5.34785 9.26912C5.21552 9.32829 5.07262 9.36017 4.92769 9.36286C4.78276 9.36554 4.63878 9.33897 4.50436 9.28474C4.36993 9.2305 4.24782 9.14972 4.14533 9.04722L0.343143 5.24359C0.237218 5.14489 0.152259 5.02586 0.0933329 4.89361C0.034407 4.76137 0.00272191 4.6186 0.000167787 4.47384C-0.00238634 4.32908 0.0242428 4.18529 0.0784668 4.05104C0.132691 3.9168 0.213399 3.79485 0.315776 3.69247C0.418153 3.5901 0.540101 3.50939 0.674347 3.45516C0.808592 3.40094 0.952384 3.37431 1.09714 3.37686C1.2419 3.37942 1.38467 3.4111 1.51692 3.47003C1.64917 3.52896 1.76819 3.61392 1.86689 3.71984L4.87702 6.72853L9.86802 0.36759C9.87697 0.356492 9.88657 0.345932 9.89677 0.335965ZM8.57427 7.72472L9.89677 9.04722C9.99924 9.1495 10.1213 9.23009 10.2555 9.28419C10.3898 9.33829 10.5336 9.36479 10.6784 9.36211C10.8232 9.35943 10.9659 9.32762 11.0981 9.26858C11.2303 9.20954 11.3492 9.12447 11.4478 9.01847L17.1863 1.84534C17.2894 1.74357 17.3709 1.62206 17.426 1.48809C17.4811 1.35411 17.5086 1.2104 17.5069 1.06555C17.5052 0.920705 17.4744 0.777682 17.4162 0.645025C17.358 0.512368 17.2737 0.392799 17.1682 0.293457C17.0628 0.194116 16.9384 0.117039 16.8026 0.0668306C16.6667 0.0166222 16.5221 -0.00568873 16.3774 0.0012307C16.2327 0.00815012 16.0909 0.0441583 15.9604 0.107104C15.8299 0.170049 15.7135 0.258642 15.618 0.36759L10.6256 6.72853L9.92839 6.0299L8.57283 7.72472H8.57427Z' fill='%23EC870E'/%3E%3C/svg%3E%0A");
        background-size: 18px 10px;
        margin-right: 10px; }

.tariffs .container,
.packages-img .container {
  padding-left: 3em;
  padding-right: 3em; }

.program {
  padding-bottom: 95px;
  margin-bottom: 0;
  color: white;
  padding-top: 75px;
  background-image: url("../img/program-bg.png"); }
  .program h2 {
    color: inherit;
    text-align: center; }
  .program h3 {
    font-size: 35px;
    color: inherit;
    margin-bottom: 30px; }
  .program small {
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 0;
    opacity: 0.7;
    line-height: 22px;
    text-transform: none;
    color: white;
    text-align: center;
    max-width: 540px;
    margin: 0 auto;
    margin-top: 15px; }
  .program .program__title {
    margin-bottom: 60px; }
  .program .program__earn {
    padding-left: 65px; }
    .program .program__earn span {
      font-weight: 400;
      font-size: 20px; }
    .program .program__earn ul {
      font-weight: 300;
      margin-top: 25px;
      font-size: 18px;
      list-style: none;
      padding: 0;
      border-left: 1px solid rgba(255, 255, 255, 0.28); }
      .program .program__earn ul li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .program .program__earn ul li:not(:last-child) {
          margin-bottom: 50px; }
        .program .program__earn ul li::before {
          content: '';
          display: block;
          width: 14px;
          height: 14px;
          border-radius: 50%;
          background-color: #1D104B;
          background-image: url("data:image/svg+xml,%3Csvg preserveAspectRatio='none'   viewBox='0 0 6 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='3' cy='3' r='3' fill='white' fill-opacity='0.6'/%3E%3C/svg%3E%0A");
          background-repeat: no-repeat;
          background-position: center;
          background-size: 6px 6px;
          border: 1px solid #FFFFFF;
          margin-top: 6px;
          -webkit-box-flex: 0;
              -ms-flex-positive: 0;
                  flex-grow: 0;
          -ms-flex-negative: 0;
              flex-shrink: 0;
          margin-right: 14px;
          position: relative;
          left: -8px; }
  .program .program__quiz {
    padding-left: 35px; }
    .program .program__quiz ul {
      margin-top: 20px;
      font-size: 16px;
      list-style: none;
      padding: 0;
      font-weight: 300;
      max-width: 395px; }
      .program .program__quiz ul li {
        background-color: rgba(255, 255, 255, 0.11);
        border-radius: 10px;
        overflow: hidden;
        padding-right: 50px;
        padding-top: 14px;
        padding-bottom: 14px;
        padding-left: 30px;
        position: relative; }
        .program .program__quiz ul li::before {
          background-color: #FCB515;
          position: absolute;
          content: '';
          display: block;
          height: 100%;
          width: 6px;
          left: 0;
          top: 0; }
        .program .program__quiz ul li:not(:last-child) {
          margin-bottom: 15px; }

footer {
  background-color: #0F062E;
  padding-top: 45px;
  padding-bottom: 45px;
  height: 165px;
  color: white; }
  footer .footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  footer .footer__menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 1em;
    list-style: none;
    padding: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-left: 8em;
    margin-right: 5em; }
    footer .footer__menu li {
      margin: 0 15px; }
    footer .footer__menu a {
      color: #CAC7D5;
      font-size: 16px;
      text-decoration: none;
      white-space: nowrap;
      -webkit-transition: color 0.5s ease;
      transition: color 0.5s ease; }
      footer .footer__menu a:hover {
        color: white; }
  footer .footer__social {
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    footer .footer__social a {
      display: block;
      width: 25px;
      height: 25px;
      margin: 0 10px;
      opacity: 0.7;
      background-repeat: no-repeat;
      background-position: bottom center;
      -webkit-transition: opacity 1s ease;
      transition: opacity 1s ease; }
      footer .footer__social a:hover {
        opacity: 1; }
    footer .footer__social a[aria-label=Facebook] {
      background-image: url("../img/footer-fb.svg"); }
    footer .footer__social a[aria-label=Twitter] {
      background-image: url("../img/footer-tw.svg"); }
    footer .footer__social a[aria-label=Linkedin] {
      background-image: url("../img/footer-link.svg"); }
    footer .footer__social a[aria-label=Instagram] {
      background-image: url("../img/footer-inst.svg"); }

/*# sourceMappingURL=main.css.map */